# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .idea 디렉토리 git X
.idea/*
# .gitignore파일은 제외
!.idea/.gitignore