.swiper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  /* display: flex; */
  /* justify-content: center; */
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white !important;
}
